.favorites-filter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.favorites-button {

    margin-top: 20px;
    background-color: lightgray;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.favorites-button:hover {
    background-color: darkgray;
}

.favorites-icon {
    font-size: 24px;
    color: black;
}

.favorites-icon.filled {
    color: gold;
}

@keyframes growShrink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
   100% {
        transform: scale(1);
    }
}
button.gold-button {
    animation: growShrink 1.5s ease-in-out infinite;
}