.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: fadeIn 0.5s forwards, fadeOut 0.5s 2.5s forwards;
}

.toast.success {
    border-radius: 8px !important;
    border: solid 1px green;
    color: green;
}

.toast.error {
    border-radius: 8px !important;
    border: solid 1px red;
    color: red
;}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
